# Ignore build
out
build

# Ignore Visual Studio
.vs

# Ignore VS Code
.vscode

# Ignore Python builds
__pycache__
*.pyc
*.pyd
*.pyo
*.pyz
*.pywz
*.exp
*.lib

# Cmake gitignore template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
